<style type="text/css">


</style>

<h3>Welcome!</h3>

<% @posts.each do |post| %>

<div class="left well">

  <% if logged_in? %>

    <li> <%= link_to vote_post_path(post, vote: true), method: 'post' do %>
        <i class="icon-chevron-left rotate-up"></i>
      <% end %>
    </li>

    <li>  <%= link_to vote_post_path(post, vote: false), method: 'post' do %>
        <i class="icon-chevron-right rotate-down"></i>
        </li>
        <span class="badge badge-info"><%= post.total_votes %></span>
      <% end %>

  <% end %>

</div>
<div class="right">
<ul>

      <li style="list-style: none;" class="well">
        <p> <span class="badge badge-info">
          <% post.categories.each do |i| %>
            <%= i.name %>
          <% end %>



        </span></p>
        <%= link_to post.title, post_path(post) %> [ <%= link_to 'edit', edit_post_path(post) %> ]

        <p>posted by < <%= post.user.username %> on <%= pretty_date(post.created_at) %></p>

        <span class="badge badge-info"><%= post.comments.length %></span>
        <span style="color: #999;"><%= link_to 'comments inside', post_path(post) %></span>

      </li>



</ul>
</div>
<% end %>