<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>
  <% if logged_in? %>
      <li>
        <%= link_to 'New post', new_post_path %>
      </li>

      <li>
        <%= link_to 'Log out', logout_path %>
      </li>
  <% else %>
      <li>
        <%= link_to 'Register', new_user_path %>
      </li>

      <li>
        <%= link_to 'Log in ', login_path %>
      </li>

  <% end %>

  <div class="btn-group nav_item">
    <%= link_to '#', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown' do %>
      Categories <span class="caret"></span>
    <% end %>
    <ul class="dropdown-menu">
      <% @categories.each do |category| %>
        <li>
          <%= link_to category.name, category_path(category) %>
        </li>
      <% end %>
      <% if current_user && current_user.admin? %>
        <li class="divider">
        </li>
        <%= link_to(new_category_path) do %>
          <i class="icon-plus"></i>
          New category
        <% end %>
      <% end %>


    </ul>
  </div>


</ul>
